
@mixin hook-button-small(){
  //letter-spacing: 1px;
}
@mixin hook-button-misc(){
  .button-outline-primary{
    border: solid 1px $global-primary-background;
    color: $global-primary-background;
    &:hover {
      background: $global-primary-background;
      color: #fff;
    }
  }
  .button-outline-secondary{
    border: solid 1px $global-secondary-background;
    color: $global-secondary-background;
    &:hover {
      background: $global-secondary-background;
      color: #fff;
    }
  }
}

$section-large-padding-vertical-m:                 $global-large-margin * 1.8;

//
// Component: Base
//
// ========================================================================
@mixin hook-base-body(){
    //filter: blur(7px);
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;

}
@mixin hook-base-misc(){
    input[type="submit" i]{
        -webkit-appearance:none;
    }
    h1, h2 {
      font-weight: 300;
    }
}
@mixin hook-text-lead(){
  //font-family: $base-heading-font-family;
  font-weight: 300;
  font-style: italic;
  span{
    font-style: normal;
  }
}
//
// Component: Navbar
//
// ========================================================================
@mixin hook-navbar(){
    .uk-drop {
        width: 360px;
    }
}
@mixin hook-navbar-nav-item(){
    text-transform: $navbar-nav-item-text-transform;
    -webkit-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
    letter-spacing: 3px;
    font-weight: 400;
}
@mixin hook-subnav-item(){
    font-size: $subnav-item-font-size;
    letter-spacing: 2px;
}
@mixin hook-navbar-misc(){
    .navbar-background {
      background-color: $navbar-background;
    }
}
//
// Component: Form
//
// ========================================================================
@mixin hook-form(){
    border: solid 1px $global-border;
}

//
// Component: Heading
//
// ========================================================================

@mixin hook-list-misc(){
    .uk-list {
        margin: 0;
    }
}

//
// Component: Article
//
// ========================================================================
@mixin hook-article(){
    position: relative;
    font-size: 17px;
    line-height: $lh-l;
    figure, .uk-slideshow {
        margin-top: $global-medium-margin * 1.1;
        margin-bottom: $global-medium-margin * 1.3;
    }
    figure {
        img + div .uk-overlay-icon {
            color: rgba(255, 255, 255, 0);
        }
        img:hover + div .uk-overlay-icon {
            color: rgba(255, 255, 255, 1);
        }
        figcaption {
            margin-left: 0;
            span {
                padding-right: 20px;
                margin-bottom: -43px;
                margin-top: 20px;
                border-right: solid 2px $global-primary-background;
                font-style: italic;
                font-size: 0.8rem;
                line-height: 1.8;
            }
        }
    }
    blockquote {
        border-left: solid 2px $global-primary-background;
        padding-left: $base-margin-vertical;
        line-height: 1.7;
        margin-top: $global-medium-margin * 1.5;
        margin-bottom: $global-medium-margin * 1.5;
    }
}
@mixin hook-article-meta(){
    a {
        color: $article-meta-color;
        &:hover {
            color: $global-primary-background;
        }
    }
}
@mixin hook-article-misc(){
    .uk-article-content {
        p {
            margin-bottom: $global-margin;
        }
        h1:not(:first-child), h2:not(:first-child) {
            margin-top: $global-medium-margin + 8;
        }
        h3:not(:first-child) {
            margin-top: $global-medium-margin;
        }
    }
    h1.uk-article-title {
      margin-bottom: $global-medium-margin;
    }
}

//
// Utility
//
// ========================================================================
@mixin hook-utility-misc(){
    .lh-l {
        line-height: $lh-l;
    }
    .social-networks {
        //margin-top: $global-large-margin;
    }
    header .uk-light {
        .uk-logo {
            color: #fff;
            &:hover {
                color: #fff;
            }
        }
    }
    header .uk-dark {
        .uk-logo {
            color: #000;
            &:hover {
                color: #000;
            }
        }
    }
    .section-hero {
        padding-top: 40px;
        padding-bottom: 80px;
    }

    @media (min-width: $breakpoint-medium) {
        .section-hero {
            padding-top: 100px;
            padding-bottom: 150px;
        }
        .section-hero.light {
            .uk-heading-hero, .subtitle {
                color: #fff;
            }
        }
    }
    .section-title {
        margin-bottom: $global-medium-margin;
        ~ .section-title {
            margin-top: $global-medium-margin;
        }
    }
    @media (min-width: $breakpoint-medium) {
        .section-title {
            ~ .section-title {
                margin-top: $global-large-margin;
            }
        }
    }
    header {
        nav:not(.uk-navbar-transparent) {
            //border-bottom: solid 1px $border-light;
        }
    }
    footer {
        .uk-subnav>.uk-active>a {
            color: $global-muted-color;
        }
        font-weight: 300;
    }
    #markdown-toc {
        padding: 0 0 0 $global-margin;
        border-left: solid 2px $global-primary-background;
        list-style: none;
        margin-bottom: $global-medium-margin;
        > li > :last-child {
            margin-bottom: 0;
        }
        ul {
            margin: 0;
            padding-left: $global-margin;
            list-style: none;
        }
        >li:nth-child(n+2), >li>ul {
            margin-top: 11px;
        }

    }
    .uk-article-content .no_toc {
        margin-top: $global-medium-margin;
        margin-bottom: $global-medium-margin;
    }

}
// -----------

footer .social {
  letter-spacing: 2px;
  color: #555758 !important;
}
@mixin hook-logo(){
  letter-spacing: 1px;
  font-weight: 500;
}
aside{
  .email {
    font-size: 0.75rem;
  }
}
@media (max-width: $breakpoint-small) {
  .author-avatar {
      max-width: 200px;
  }
  .gutter-tsm {
    margin-top: 40px !important;
  }
}
@mixin hook-print(){
  @page {
    margin: 2.5cm;
  }

}
.cv-title {
  font-size: 1.375rem;
}
.print {
  color: #000;
  line-height: 1.7;
  font-size: 0.9375rem;
  em {
    color: #000;
  }
  .uk-article {
    font-size: 0.9375rem;
    line-height: 1.7;
  }
  .author-name {
    font-weight: 500;
    border-bottom: solid 2px #000;
    padding-bottom: 15px;
  }
}
.cv-print {
  > *:not(h2){
    margin-left: 30px;
  }
  h2 {
    font-size: 1.5rem;
    font-weight: 500;
    color: #000;
  }
}

@media (min-width: $breakpoint-small) {
  .cv-online {
    > *:not(h2){
      margin-left: 30px;
    }
  }
}
.orcid img {
  //max-width: 150px;
}
.orcid img:hover {
  opacity: .8;
}
@media (min-width: $breakpoint-small) {
  header.uk-height-small {
      height: 300px;
  }
}
@media (min-width: $breakpoint-medium) {
  header.uk-height-small {
      height: 450px;
  }
}
.uk-navbar-container>.uk-container .uk-navbar-left {
    margin-left: -15px;
    margin-right: -15px;
}
.uk-navbar-container>.uk-container .uk-navbar-right {
    margin-right: -15px;
}
