---
layout: default
---

<div class="uk-section">
  <div class="uk-container uk-container-small">
    <h1 class="uk-article-title">{{ page.title | escape }}</h1>
    {% include author.html %}
    <hr class="uk-margin-large-bottom">
    <article class="uk-article">
      <div class="uk-article-content uk-position-relative cv">

        {% for item in site.data.cv %}

            {% if item.title %}
                <h3>{{ item.title }}</h3>
            {% endif %}

            {% if item.content %}
                <p>{{ item.content | markdownify | newline_to_br }}</p>
            {% endif %}

        {% endfor %}


          {{ content }}
      </div>
    </article>
  </div>
</div>
