<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

    {% include head.html %}

    <body>

    {% include header.html %}

      <div class="uk-section">
        <div class="uk-container">
          <div class="uk-flex uk-grid-large" data-uk-grid>
            <div class="uk-width-expand@m">
              {{ content }}
            </div>
            <aside class="uk-width-1-3@m uk-flex-first@m">
              {% include sidebar.html %}
            </aside>
          </div>
        </div>
      </div>

    {% include footer.html %}

    {% include mobile.html %}

    </body>

</html>
